<!--If the 'title' is missing, then use 'Page Title' as a default value, else use 'title'.-->
<title><%= typeof title != 'undefined' ? title : 'Page Title' %></title>
<!--Viewport adjusts the page size according to the device's width and can allow you to zoom in and out by pinching your fingers on touch screens. It can also lock up the zoom feature.-->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--Style sheet gives you consistent colors and sizes of your objects throughout the web site.-->
<link rel='stylesheet' href='/stylesheets/style.css' />
<!--This line is needed to enable non-system fonts.-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">