<a href='/'>[home]</a> | 
<a href='/users'>users</a> | 
<a href='/create'>createtable</a> |
<a href='/insert'>insertrows</a> |
<a href='/viewlist'>[viewlist]</a> |
<a href='/mysqloutput'>apiviewlist</a> |
<a href='/update'>updaterow</a> |
<a href='/delete'>delete1row</a> |
<a href='/drop'>droptable</a> |
<a href='/api/get/demo/Don Lim/user123'>apiget</a> |
<a href='#'>apipost</a>


